flask==2.2.2
Werkzeug==2.2.2
gunicorn
joblib
pandas
scikit-learn
PIL
io
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.13.0
termcolor==2.3.0